ABC Bank has recently launched its privileged banking service for high-net-worth clients.

The objective is to organize the storage of information for new clients. Subsequently, to investigate the first clients to better understand who they are.

The information about each new client should be provided in the following order: ID document, name, age, annual net income, and occupation. This is the list containing Jack's data: 32456, 'Jack Wilson', 32, 150000, 'Healthcare'.

In [5]:
client_info = [32456, 'Jack Wilson', 32, 150000, 'Healthcare']
print(client_info)

[32456, 'Jack Wilson', 32, 150000, 'Healthcare']

To organize the storage of information for multiple clients, the variable clients has been created and assigned an empty list.

To add this information to the existing clients list as a nested list.

In [7]:
clients = []
client_info = [32456, 'Jack Wilson', 32, 150000, 'Healthcare']

clients = [client_info]

print(clients)

[[32456, 'Jack Wilson', 32, 150000, 'Healthcare']]


To extract information from a client, a case scenario is used to exemplify:
Information about a new client, Nina Brown, has been added to the clients list. The bank is interested in her annual net income, which is located in the 4th position of the list. The goal is to extract this information, assign it to the variable client_income, and print it.

In [11]:
clients = [
    [32456, 'Jack Wilson', 32, 150000, 'Healthcare'],
    [34591, 'Nina Brown', 45, 250000, 'Telecom']
]

client_income = clients[1][3]
print(client_income)

250000

If a bank employee made a typographical error when adding customer information, specifically in the occupation field of Brian PÃ©rez ('Transportatiion'). Since this entry is invalid, it must be removed from the clients list. This code will show how to correct it:

In [13]:
clients = [
    [32456, 'Jack Wilson', 32, 150000, 'Healthcare'],
    [34591, 'Nina Brown', 45, 250000, 'Telecom'],
    [37512, 'Alex Smith', 39, 210000, 'IT'],
    [39591, 'Brian Perez', 29, 340000, 'Transportatiion']
]

clients.pop(3)

print(clients)

[[32456, 'Jack Wilson', 32, 150000, 'Healthcare'], [34591, 'Nina Brown', 45, 250000, 'Telecom'], [37512, 'Alex Smith', 39, 210000, 'IT']]

If rather correct:

In [14]:
clients = [
    [32456, 'Jack Wilson', 32, 150000, 'Healthcare'],
    [34591, 'Nina Brown', 45, 250000, 'Telecom'],
    [37512, 'Alex Smith', 39, 210000, 'IT'],
    [39591, 'Brian Perez', 29, 340000, 'Transportatiion']
]

for client in clients:
    if client[4] == 'Transportatiion':
        client[4] = 'Transportation'

print(clients)

[[32456, 'Jack Wilson', 32, 150000, 'Healthcare'], [34591, 'Nina Brown', 45, 250000, 'Telecom'], [37512, 'Alex Smith', 39, 210000, 'IT'], [39591, 'Brian Perez', 29, 340000, 'Transportation']]

To analyze the clients and determine the distribution of ages from highest to lowest:

In [3]:
ages = [32, 45, 39, 29, 25, 32]

ages.sort(reverse=True)

print(ages)

[45, 39, 32, 32, 29, 25]

The bank's security department requested a list of the names of the first clients. Currently, this information is available as a string where all the names are separated by commas and stored in the variable names.

To assist, the string will be converted into a list called names_split, where each element represents a client's name. Don't forget to display the resulting list.

In [15]:
names = 'Jack Wilson,Nina Brown,Alex Smith,Brian Perez,David Martinez,John Kim'

names_split = names.split(",")

print(names_split)

['Jack Wilson', 'Nina Brown', 'Alex Smith', 'Brian Perez', 'David Martinez', 'John Kim']